<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <script src="../Content/js/jquery-3.1.1.js" charset="utf-8"></script>
    <script src="../Content/js/scripts.js" charset="utf-8"></script>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Rock Paper Scissors</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          @RenderBody()
        </div>
        <div class="col-md-2">
          <!--Intentionally left blank-->
        </div>
        <div class="col-md-3">
          <h2>Player 1 Stats</h2>
          <h3>Wins: @Model["player1 wins"] </h3>
          <h3>Losses: @Model["player1 losses"] </h3>
        </div>
        <div class="col-md-3">
          <h2>Player 2 Stats</h2>
          <h3>Wins: @Model["player2 wins"] </h3>
          <h3>Losses: @Model["player2 losses"] </h3>
          <h2>Computer Chances of Rolling</h2>
          <h3>Rock Chance: @Model["rock chance"]% </h3>
          <h3>Paper Chance: @Model["paper chance"]% </h3>
          <h3>Scissors Chance: @Model["scissors chance"]% </h3>
        </div>

      </div>

    </div>
  </body>
</html>
