<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/styles.css">
    <script src="../Content/js/jquery-3.1.1.js" charset="utf-8"></script>
    <script src="../Content/js/scripts.js" charset="utf-8"></script>
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Rock Paper Scissors</h1>
      <div class="scissors-img">
        <div class="blades"></div>
        <div class="handle1"></div>
        <div class="handle2"></div>
        <div class="paper-img"></div>
        <div class="rock-img">
        <div class="rock-base"></div>
        <div class="rock-edge1"></div>
        <div class="rock-edge2"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <form action="/play" method="post">
              <div class="player1div">
                <h1>Make Your Move</h1>
                  <div class="col-sm-4">
                    <label for="rock">
                      <div class="choice rock highlight-box">
                        <h2 class="choices-text">Rock</h2>
                        <input type="radio" name="player1" value="1" id="rock" checked>
                      </div>
                    </label>
                  </div>
                  <div class="col-sm-4">
                    <label for="paper">
                      <div class="choice paper">
                        <h2 class="choices-text">Paper</h2>
                        <input type="radio" name="player1" value="2" id="paper">
                      </div>
                    </label>
                    <button class="btn" type="submit" name="button">Play!</button>
                  </div>
                  <div class="col-sm-4">
                    <label for="scissors">
                      <div class="choice scissors">
                        <h2 class="choices-text">Scissors</h2>
                        <input type="radio" name="player1" value="3" id="scissors">
                      </div>
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="row">
            <div class="col-sm-2 stats">
              <h2>You</h2>
              <h3>Wins: @Model["player1 wins"] </h3>
              <h3>Losses: @Model["player1 losses"] </h3>
            </div>
            <div class="col-sm-2 stats">
              <h2>Computer</h2>
              <h3>Wins: @Model["player2 wins"] </h3>
              <h3>Losses: @Model["player2 losses"] </h3>
              <h3>Rock Chance: @Model["rock chance"]% </h3>
              <h3>Paper Chance: @Model["paper chance"]% </h3>
              <h3>Scissors Chance: @Model["scissors chance"]% </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="outputdiv">
            @RenderBody()
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
